@model X.PagedList.IPagedList<WebAppDemo.Models.Booking>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

@{
    ViewBag.Title = "Bookings";
}

@if (TempData["bookingdetails"] != null)
{
    <div class="popup-box col-md-6" id="popupBox">
        <p class="popup-message">@TempData["bookingdetails"]</p>
        <button class="btn btn-primary" onclick="closePopup()"><i class="fa fa-close"></i> Close</button>
    </div>
}


<h1>Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@using (Html.BeginForm("Index", "Booking", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Appointment Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter=ViewBag.CurrentFilter})
            </th>
            <th>
                First Name
            </th>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter})
            </th>
            <th>
                Email
            </th>
            <th>
                Contact Number
            </th>
            <th>
                Address Line 1
            </th>
            <th>
                Address Line 2
            </th>
            <th>
                @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm, currentFilter=ViewBag.CurrentFilter})
            </th>
            <th>
                @Html.ActionLink("Postcode", "Index", new { sortOrder = ViewBag.PostcodeSortParm, currentFilter=ViewBag.CurrentFilter})
            </th>
            <th>
                @Html.ActionLink("Registration Number", "Index", new { sortOrder = ViewBag.RegNumSortParm, currentFilter=ViewBag.CurrentFilter})
            </th>
            <th>
                @Html.ActionLink("Job Category", "Index", new { sortOrder = ViewBag.JobCatSortParm, currentFilter=ViewBag.CurrentFilter})
            </th>
            <th>
                Comments
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleRegNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@section Scripts {
    <script>
        function closePopup() {
            document.getElementById("popupBox").classList.add("hidden");
        }
    </script>
}
